.ob-dl-definition-list {
  margin-block: 1em;
}

.ob-dl-definition-list > dt {
  font-weight: 600;
  margin-top: 0.75em;
}

.ob-dl-definition-list > dt:first-child {
  margin-top: 0;
}

.ob-dl-definition-list > dd {
  margin: 0.25em 0 0.75em 1.5em;
}

.ob-dl-definition-list > dd > :first-child {
  margin-top: 0;
}

.ob-dl-definition-list > dd > :last-child {
  margin-bottom: 0;
}

.ob-dl-editor-dt {
  font-weight: 600;
  padding-top: var(--list-spacing);
}

.markdown-source-view.mod-cm6 .cm-line.ob-dl-editor-dd,
.markdown-source-view.mod-cm6 .cm-line.ob-dl-editor-dd-indent {
  padding-inline-start: var(--list-indent-editing);
  padding-bottom: var(--list-spacing);
}

.markdown-source-view.mod-cm6 .cm-line.ob-dl-editor-dd-indent {
  text-indent: 0;
}

.markdown-source-view.mod-cm6 .cm-line.ob-dl-editor-dd-list {
  padding-inline-start: calc(var(--list-indent-editing) + 1.25em);
  position: relative;
}

.markdown-source-view.mod-cm6 .cm-line.ob-dl-editor-dd-list-unordered::before {
  content: "•";
  inset-inline-start: var(--list-indent-editing);
  position: absolute;
}

.markdown-source-view.mod-cm6 .cm-line.ob-dl-editor-dd-list-ordered::before {
  content: attr(data-ob-dl-list-marker);
  inset-inline-start: calc(var(--list-indent-editing) - 0.25em);
  position: absolute;
}

.ob-dl-editor-marker-hidden {
  display: none;
}
